<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="application-name" content="Quiq Chat"/>
        <meta name="msapplication-TileColor" content="#" />
        <script src="https://use.fontawesome.com/89da14f4b6.js"></script>
        <% for(var chunk in htmlWebpackPlugin.files.chunks) {
          for(var idx in htmlWebpackPlugin.files.chunks[chunk].css) { %>
            <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks[chunk].css[idx] %>">
        <% }} %>
    </head>
    <body style="margin: 0">
      <script type="text/javascript">
        // Load the rest of the JS files only after common has fully loaded.
        function loadQuiqJS() {
          <% for(var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% if(chunk !== 'common') { %>
              var quiqScript${chunk} = document.createElement('script');
              quiqScript${chunk}.src = "<%= htmlWebpackPlugin.files.chunks[chunk].entry %>";
              document.getElementsByTagName('body')[0].appendChild(quiqScript${chunk});
            <% } %>
          <% } %>
        }

        var quiqScriptCommon;
        window.addEventListener('message', function(event) {
          var parentUrl = (window.location !== window.parent.location)
              ? document.referrer
              : document.location.href;
          var originMatches = event.origin.indexOf(parentUrl) !== -1 || parentUrl.indexOf(event.origin) !== -1;
          var containsQuiqObject = event.data && "QUIQ" in event.data;

          if(originMatches && containsQuiqObject) {
            localStorage.setItem('QUIQ', JSON.stringify(event.data.QUIQ));

            if(!quiqScriptCommon) {
              <% for(var chunk in htmlWebpackPlugin.files.chunks) {
                  for(var index in htmlWebpackPlugin.files.chunks[chunk].css) { %>
                    var quiqStyle${chunk} = document.createElement('link');
                    quiqStyle${chunk}.rel = "stylesheet";
                    quiqStyle${chunk}.href = "<%= htmlWebpackPlugin.files.chunks[chunk].css[index] %>";
                    document.getElementsByTagName('body')[0].appendChild(quiqStyle${chunk});
                  <% } %>
              <% } %>

              // Load common.js first.
              <% for(var chunk in htmlWebpackPlugin.files.chunks) { %>
                <% if(chunk === 'common') { %>
                  quiqScriptCommon = document.createElement('script');
                  quiqScriptCommon.src = "<%= htmlWebpackPlugin.files.chunks.common.entry %>";
                  quiqScriptCommon.onload = loadQuiqJS;
                  document.getElementsByTagName('body')[0].appendChild(quiqScriptCommon);
                <% } %>
              <% } %>
            }
          }
        });
      </script>
    </body>
</html>
