<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.webchat.css[0] %>" integrity="<%= htmlWebpackPlugin.files.cssIntegrity[0] %>"
      crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.webchat.css[0] %>" />
      <% } %>
        <script>
          var webChatSrc = '<%= htmlWebpackPlugin.files.chunks.webchat.entry %>'
          var webChatHash = '<%= (htmlWebpackPlugin.files.jsIntegrity) ? htmlWebpackPlugin.files.jsIntegrity[0] : undefined %>';
        </script>
        <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
          <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.webchatMain.entry %>" integrity="<%= htmlWebpackPlugin.files.jsIntegrity[1] %>"
            crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script>
          <% } else { %>
            <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.webchatMain.entry %>"></script>
            <% } %>
</head>

<body></body>

</html>