<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <script>
      var webChatSrc = '<%= htmlWebpackPlugin.files.chunks.webchat.entry %>'
      var webChatHash = '<%= (htmlWebpackPlugin.files.jsIntegrity) ? htmlWebpackPlugin.files.jsIntegrity[1] : undefined %>';
    </script>
    <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
      <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.webchatMain.entry %>"
        integrity="<%= htmlWebpackPlugin.files.jsIntegrity[0] %>"
        crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
        id="quiqScript0"></script>
    <% } else { %>
      <script type="text/javascript" id="quiqScript0" src="<%= htmlWebpackPlugin.files.chunks.webchatMain.entry %>"></script>
    <% } %>
  </head>
  <body></body>
</html>
